.about {
  &__data {
    text-align: center;
  }
  &__container {
    row-gap: 2.5rem;
  }
  &__description {
    margin-bottom: $mb-2;
  }
  &__img {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    justify-content: center;

    &-overlay {
      overflow: $img-hidden;
    }

    &-one {
      width: 130px;
    }
    &-two {
      width: 180px;
    }
    &-one,
    &-two {
      transition: $img-transition;
    }
    &-one:hover,
    &-two:hover {
      transform: $img-scale;
    }
  }
}
