.button {
  display: inline-block;
  background-color: $first-color;
  color: $white-color;
  padding: 1rem 2rem;
  font-weight: $font-semi-bold;
  transition: 0.3s;

  &:hover {
    background-color: $first-color-alt;
  }

  &--flex {
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
  }
  &--link {
    background: none;
    padding: 0;

    &:hover {
      background: none;
    }
  }
}
