.nav {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo,
  &__toggle {
    color: $white-color;
  }
  &__logo {
    font-weight: $font-semi-bold;
  }
  &__toggle {
    font-size: 1.2rem;
    cursor: pointer;
  }

  &__menu {
    position: relative;

    @media screen and (max-width: 767px) {
      position: fixed;
      background-color: $body-color;
      top: 0;
      right: -100%;
      width: 70%;
      height: 100%;
      box-shadow: -1px 0 4px hsla(190, 64%, 15%, 0.15);
      padding: 3rem;
      transition: 0.4s;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
  }
  &__link {
    color: $text-color-light;
    font-weight: $font-semi-bold;
    text-transform: uppercase;

    &:hover {
      color: $text-color;
    }
  }
  &__close {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    font-size: 1.5rem;
    color: $title-color;
    cursor: pointer;
  }
}

/* show menu */
.show-menu {
  right: 0;
}

/* Change background header */
.scroll-header {
  background-color: $body-color;
  box-shadow: 0 0 20px hsla(190, 64%, 15%);

  & .nav__logo,
  & .nav__toggle {
    color: $title-color;
  }
}
