.place {
  &__card,
  &__img {
    height: 230px;
  }
  &__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
  }
  &__card {
    position: relative;
    overflow: $img-hidden;

    &:hover .place__img {
      transform: $img-scale;
    }
  }
  &__img {
    transition: $img-transition;
  }
  &__content,
  &__title {
    color: $white-color;
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.75rem 0.75rem 1rem;
  }
  &__rating {
    align-self: flex-end;
    display: flex;
    align-items: center;

    &-icon {
      font-size: 0.75rem;
      margin-right: $mb-0-25;
    }
    &-number {
      font-size: $small-font-size;
    }
  }
  &__subtitle,
  &__price {
    display: block;
  }
  &__title {
    font-size: $h3-font-size;
    margin-bottom: $mb-0-25;
  }
  &__subtitle {
    font-size: $smaller-font-size;
    margin-bottom: $mb-1-25;
  }
  &__button {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.75rem 1rem;
  }
}
