.sponsor {
  &__container {
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    justify-items: center;
    row-gap: 3.5rem;
  }
  &__content:hover .sponsor__img {
    filter: invert(0.5);
  }
  &__img {
    width: 90px;
    filter: invert(0.7);
    transition: $img-transition;
  }
}
